<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link rel="stylesheet" href="/styles.css">
</head>

  <body>
    <div class="page">
      <header>
        <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>
    </header>
      
      <h2>All Sales Today</h2>
      <ul>
        <% for (var i =0; i < sales.length;  i++ ) { %>
          <li/> <%= sales[i].product_ID %> <%= sales[i].time %> <%= sales[i].payment_method %>
          <% } %>
      </ul>
    </div>
  </body>
</html>
