<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
  <body>
    <header>
      <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>
  </header>
    <main>
      <div>
        <h2>Edit information!</h2>
      <form action="/animal/edit/<%= animal.ID%>" method="POST" >
        <label for="name">
          <span>Name</span>
          <input type="text" name="name" id="name" value="<%= animal.Name%>">
        </label>
        <label for="age">
          <span>Age</span>
          <input type="text" name="age" id="age" value="<%= animal.Age%>">
        </label>
        <label for="species">
          <span>Species</span>
          <input type="text" name="species" id="species" value="<%= animal.Species%>">
        </label>
        <button type="submit">Save</button>
      </form>
      </div>
    </main>

  </body>
  <script>

  </script>
</html>
