<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles.css">
</head>

  <body>
    <header>
      <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>
  </header>

  <main>
    <h2>Today's Guest Demographics</h2>
    <div class="list">
      <% for (var i =0; i < guests.length;  i++ ) { %>
          <div class="animalCard">
              <h4>Age Range <%= guests[i].AgeRange%></h4>
              <div class="animalDesc">
                <p>Total: <%= guests[i].Total || "No infomation" %></p>
              </div>
          </div>
        <% } %>
    </div>
  </main>
    
      
      

  </body>
  <script>

  </script>

</html>
