<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link rel="stylesheet" href="/styles.css">
</head>

  <body>
    <div class="page">
      <header>
        <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>
    </header>
      
      <h2>Oldest Guest Today</h2>
      <ul>
        <%="The oldest guest today is: "%> <%=guests[0]["MAX(age)"] %> <%=" years old!"%>
      </ul>
    </div>
  </body>
  <script>
    function func1(){
      console.log("I am in the click handler 1!"); 
    }
    const cleanCage = (staffId) => {
      // clean cage
    }
    function func2(){
      console.log("I am in the click handler 2!"); 
    }
  </script>

</html>
