<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

</head>

  <body>
    <main>
      <div class="page">
        <header>
          <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>
      </header>
        
        <h2>Total Number of Guests Today</h2>
        <ul>
          <%="The total number of guests so far: "%> <%=guests[0]["COUNT(*)"] %> 
        </ul>
      </div>
    </main>
  </body>
  <script>
    function func1(){
      console.log("I am in the click handler 1!"); 
    }
    const cleanCage = (staffId) => {
      // clean cage
    }
    function func2(){
      console.log("I am in the click handler 2!"); 
    }
  </script>

</html>
