<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zookeeper</title>
  <link rel="stylesheet" href="/styles.css">
</head>

  <body>
    <div class="page">
      <div class="header">
          <h1 class="title">Zookeeper</h1>
          </p>
      </div>
      
      <h2>New Animal</h2>
      <form action="/animal/new" method="POST" class="form">
        <label for="animalName">Name</label>
        <input id="animalName" type="text" name="name" class="input" placeholder="Atom" required>
        <label for="animalAge">Age</label>
        <input id="animalAge" type="number" name="age" class="input" placeholder="7" required>
        <label for="animalKind">Kind</label>
        <input id="animalKind" type="text" name="kind" class="input" placeholder="cat" required>
        <button type="submit" class="btn">Join!</button>
      </form>
    </div>
  </body>
</html>
