<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

  <title>Zookeeper</title>
  <link rel="stylesheet" href="/styles.css">
</head>

  <body>
    <main>
      <div class="page"></div>
      <header>
        <h1 class="title"><a href="http://localhost:2000/">🦧Zookeeper🦘</a></h1>
    </header>
      
      <h2>Staffs in our zoo</h2>
      <ul>
        <% for (var i =0; i < shows.length;  i++ ) { %>
          <li/>  <%="These are today's most popular shows: "%> <%= shows[i].Show_Name %>
          <% } %>
      </ul>
    </div>
    </main>
  </body>
</html>
