:root {
	font-family: 'Varela Round', sans-serif;
}

header {
	text-align: center;
}

main {
	display: flex;
	border: solid tomato 2px;
	border-radius: 15px;
	flex-flow: row wrap;
	margin: 0.5rem 5em;
	padding: 1em;
	align-items: center;
	justify-content: space-around;
	min-height: 50vh;
}

h1 a {
	border: none;
}

a:visited {
	color: black;
} /* Visited link    */

a:hover {
	background-color: pink;
}

a {
	text-decoration: none;
	transition: 0.3s;
	padding: 0.2em;
	font-weight: 1;
	margin: 0.2em;
	border: 2px skyblue solid;
	border-radius: 0.3em;
}

button {
	text-align: center;
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
	border-color: transparent;
	background-color: tomato;
	color: white;
	cursor: pointer;
}

select {
	cursor: pointer;
	background-color: white;
	/* padding: 10px; */
	padding: 0.5em;
	height: 2.35em;
	border: solid 0.1em tomato;
}

input {
	border: solid tomato 0.5px;
	padding: 0.5em;
	border-radius: 0.5em;
}

.clickable {
	cursor: pointer;
	transition: 0.3s;
}

.clickable:hover {
	background-color: pink;
}

.checked {
	background: pink;
}

.staffName {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#staff {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#animal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feedForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cleanForm {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#animalList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#clean {
	margin-top: 10px;
}

.animalCard {
	display: flex;
	border: solid gold 2px;
	border-radius: 15px;
	margin: 0.5rem;
	width: 20em;
	align-items: center;
	justify-content: space-around;
}

.cageList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.cageCard {
	border: solid gold 2px;
	border-radius: 15px;
	margin: 0.5em;
	padding: 0.5em 1em;
	font-size: 0.8em;
	/* width: 20em; */
}
